<nav class="navbar navbar-expand navbar-light bg-light p-3 flex-wrap">
    <a class="navbar-brand" href="/home"><img src="assets/logo.png" alt="logo" width="96"></a>
    <div class="collapse navbar-collapse d-flex flex-row justify-content-between" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/login" *ngIf="!isConnectedBool">Connexion<span
            class="sr-only">(current)</span></a>
          <div class="d-flex flex-row">
            <a class="nav-link" href="/purchase" *ngIf="isConnectedBool">Achats<span
              class="sr-only">(current)</span></a>
            <a class="nav-link" href="/reservation" *ngIf="isConnectedBool">Reservations<span
              class="sr-only">(current)</span></a>
            <a class="nav-link" href="/payment" *ngIf="isConnectedBool">Virements<span
              class="sr-only">(current)</span></a>
            <a class="nav-link" href="/login" *ngIf="isConnectedBool" (click)="isDeconnected()">Deconnexion<span
              class="sr-only">(current)</span></a>
          </div>
        </li>
      </ul>
    </div>
</nav>
